DATABASE_URL="mysql://jxt:123456@8.152.100.169:3306/jxt"
MINIO_ENDPOINT="8.152.100.169"
MINIO_PORT="9000"
MINIO_USE_SSL="false"
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"
MINIO_BUCKET="jxt"
SITE_PASSWORD="lab@2026"
JWT_SECRET="jxt-lab-platform-default-jwt-secret-2026-04-11"
